<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCarModalLabel">Add Car</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @car, url: cars_path, id: "addCarForm") do |form| %>
          <%= form.fields_for :car_data do |car_data_fields| %>
            <div class="form-group">
              <%= car_data_fields.label :registration %>
              <%= car_data_fields.text_field :registration, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= car_data_fields.label :color %>
              <%= car_data_fields.text_field :color, class: "form-control", required: true %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= button_tag "Save", type: "submit", class: "btn btn-primary", form: "addCarForm" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>