<div class="list-group">
  <a href="<%= root_path %>" class="list-group-item list-group-item-action">Home</a>
  <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#addCarModal">Add Car</a>
  <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newTicketModal">New Ticket</a>
  <a href="<%= cars_path %>" class="list-group-item list-group-item-action">All Cars</a>
  <div id="flash-message" class="alert">
    <% if flash[:success].present? %>
      <div class="alert alert-success"><%= flash[:success] %></div>
    <% elsif flash[:error].present? %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>
</div>


<%= render partial: 'shared/add_new_car' %>
<%= render partial: 'shared/new_ticket' %>

<script>
  $(document).ready(function() {
    $('#flash-message').fadeIn();
    setTimeout(function() {
      $('#flash-message').fadeOut();
    }, 3000);
  });
</script>

