<div class="entry-gate">
  Entry Gate
</div>
<div class="parking-slots">
  <div class="row">
    <% @grouped_slots.each do |name, slots| %>
      <div class="col-md-2">
        <div class="slot-column">
          <% slots.each do |slot| %>
            <div class="card <%= slot['is_empty'] ? 'bg-light' : 'bg-danger' %> text-white"
                  style="border: 1px solid #000; border-radius: 10px; margin-bottom: 10px; overflow: hidden">
              <% if !slot['is_empty'] %>
                <%= form_with url: tickets_path(slot["ticket_id"]), method: :put, remote: true do |f| %>
                  <%= f.hidden_field :is_deleted, value: true %>
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= slot['name'] %></h5>
                    <%= f.button type: :submit, class: "btn btn-danger btn-sm btn-block" do %>
                      Delete
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="card-body text-center">
                  <h5 class="card-title"><%= slot['name'] %></h5>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
